# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/

# Django specific
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.so
*.~*

# Database files
*.sqlite3

# Static and media files
staticfiles/
media/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# IDE specific files
.vscode/
.idea/

# macOS specific files
.DS_Store

# Environment variables file
.env

# Coverage reports
htmlcov/
.coverage
.coverage.*

# pytest
.cache

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# pylint
pylint_report.txt
