{% load wagtailcore_tags custom_filters %}
<div class="container">
  <div class="row">
    {% for entry in entries %}
      <div class="col-12 col-sm-6 col-md-3 mb-4">
        <div class="card text-white bg-secondary h-100">
          <div class="card-header">
            {% if entry.generated_header %}
              {{ entry.generated_header }}
            {% else %}
              Fun Header
            {% endif %}
          </div>
          <div class="card-body d-flex flex-column">
            <h4 class="card-title">{{ entry.date }}</h4>
            <p class="card-text flex-grow-1">{{ entry.log|safe|truncate_log }}</p>
            <a href="{{ entry.url }}" class="btn btn-primary mt-auto" role="button">Read More</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
