{% extends "entries/base.html" %}
{% load wagtailcore_tags %}
{% block content %}
    <div id="journal-entry">
        <h2>Entry for {{ entry.user.username }} on {{ entry.date }}</h2>
        <p>{{ entry.log|safe }}</p>
        <p><strong>Sleep Hours:</strong> {{ entry.sleep_hours }}</p>
        <p><strong>Alcohol/Caffeine Consumption:</strong> {{ entry.alcohol_caffeine_consumption }}</p>
        {% if entry.significant_events %}
            <p><strong>Significant Events:</strong> {{ entry.significant_events }}</p>
        {% endif %}
        <!-- Bar Chart -->
        <div class="metrics-chart">
            {% include "includes/bar_chart.html" with chart_id=chart_id chart_labels=chart_labels|safe chart_data=chart_data|safe chart_colors=chart_colors|safe chart_title=chart_title %}
        </div>

        <button type="button" class="btn btn-primary" onclick="toggleEditForm()">Edit</button>
        <form method="post" action="{% pageurl page %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger" name="delete_button">Delete</button>
        </form>
    </div>

    <div id="edit-form" style="display: none;">
        {% include "entries/entry_form.html" %}
    </div>

    <script>
        function toggleEditForm() {
            var journalEntry = document.getElementById('journal-entry');
            var editForm = document.getElementById('edit-form');
            if (editForm.style.display === 'none') {
                editForm.style.display = 'block';
                journalEntry.style.display = 'none';
            } else {
                editForm.style.display = 'none';
                journalEntry.style.display = 'block';
            }
        }
    </script>
{% endblock %}